<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="all" href="CSS/general.css" th:href="@{CSS/general.css}"/>
</head>
    <body>
        <h1>Welcome to the Crowdsourcing site</h1>
        <form method="post" action="CheckLogin">

            <p>Please login to your account</p>

            <label for="username" >Username: </label>
            <input type="text" placeholder="Enter username" id="username" name="username" th:value="${username}" th:class="${errorMessage == null} ? 'error-text' " required><br>

            <label for="password" >Password: </label>
            <input type="password" placeholder="Enter password" id="password" name="password" th:class="${errorMessage == null} ? 'error-text' " required><br>
            <input type="checkbox" id="show-login-password"><label for="show-login-password" >Show password</label><br>

            <input type="submit" value="Login" >

            <p th:text="${errorMessage}" class="error"></p>

        </form>
    </body>
</html>