/* Buttons and submit field basic style */
button, input[type=submit] {
    background-color: #ed6a5a;
    color: #f4f1bb;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/* Buttons and submit field hover style */
button:hover, input[type=submit]:hover {
    background-color: #9bc1bc;
    color: white;
}

/* Text fields style */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 10px;
}