/* Buttons and submit field basic style */
button, input[type=submit], .file-upload {
    background-color: #ed6a5a;
    color: #f4f1bb;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/* Buttons and submit field hover style */
button:hover, input[type=submit]:hover, .file-upload:hover,
button:focus, input[type=submit]:focus, .file-upload:focus {
    background-color: #9bc1bc;
    color: white;
}

/*Hide the input file element */
input[type=file] {
    display: none;
}

/* Text fields style */
input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Create a padding for all div elements */
div {
    padding: 16px;
}

/* Error messages style */
.error {
    color: red;
}