.header {
    position: relative;
    text-align: center;
}

.cover {
    width: 90%;
    height: auto;
}

.heading {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.title, .subTitle {
    color: #ed6a5a;
}

#false-sign-up-button {
    display: none;
}

#experience-radio {
    display: none;
}