<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campaign Overview</title>
    <link rel="stylesheet" type="text/css" media="all" href="/CSS/general.css" th:href="@{CSS/general.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/CSS/overview.css" th:href="@{CSS/overview.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/CSS/modal.css" th:href="@{CSS/modal.css}" />
</head>
<body>

  <!-- <div class="top-menu">
      <a href="#" th:href="@{WorkerHome}" class="menu-home" >Home</a>
      <a href="#" th:href="@{Logout}" class="menu-logout">Logout</a>
  </div> -->
  <div class="top-menu">
      <form method="get" action="WorkerHome">
          <input type="submit" value="Home">
      </form>
      <form method="get" action="EditProfile">
          <input type="submit" value="Edit profile">
      </form>
      <form method="get" action="Logout">
          <input type="submit" value="Logout">
      </form>
  </div>

  <div class="main">
    <h1>Campaign Overview</h1>

    <!-- Show Campaign Overview -->
    <table>
        <thead>
            <tr>
                <th><b>Name</b></th>
                <th><b>Customer</b></th>
                <th><b>Status</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${campaign.name}">Name</td>
                <td th:text="${campaign.customer}">Customer</td>
                <td th:text="${campaign.status.toString()}">Status</td>
            </tr>
        </tbody>
    </table>

    <p>Click on an image to create an annotation.</p>
    <!--TODO: Slideshow gallery--><!-- TODO: Modal form for Annotation -->
    <table th:if="${not #lists.isEmpty(images)}">
        <tr th:each="image : ${images}">
            <td><a th:href="@{CreateAnnotation(image=${image.id})}"><img class="image" alt="Waste Dump" src="sample/wasteDump.jpg" th:src="${#servletContext.contextPath} + ${image.source}" /></a></td>
        </tr>
    </table>

    <!-- If there isn't any image, show a message -->
    <p th:if="${#lists.isEmpty(images)}">No image yet</p>
  </div>

</body>
</html>
