<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campaign stats</title>
    <link rel="stylesheet" type="text/css" media="all" href="/CSS/general.css" th:href="@{CSS/general.css}"/>
</head>
<body>

    <!-- <div class="top-menu">
        <a href="#" th:href="@{ManagerHome}" class="menu-home" >Home</a>
        <a href="#" th:href="@{Logout}" class="menu-logout">Logout</a>
    </div> -->
    <div class="top-menu">
        <form method="get" class="go-home" action="ManagerHome">
            <input type="submit" value="Home">
        </form>
        <form method="get" class="edit-profile" action="EditProfile">
            <input type="submit" value="Edit profile">
        </form>
        <form method="get" class="logout" action="Logout">
            <input type="submit" value="Logout">
        </form>
    </div>
  <div class="main">
    <h1>Campaign's statistics page</h1>

    <!-- Show campaign's infos -->
    <h3>Campaign's Informations</h3>
    <table>
        <thead>
            <tr>
                <th><b>Name</b></th>
                <th><b>Customer</b></th>
                <th><b>Status</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${campaign.name}">Name</td>
                <td th:text="${campaign.customer}">Customer</td>
                <td th:text="${campaign.status.toString()}">Status</td>
            </tr>
        </tbody>
    </table>

    <!-- Show campaign's stats -->
    <h3>Campaign's Statistics</h3>
    <table>
        <tr>
            <td>Total number of image: </td>
            <td th:text="${stats.getTotalImage()}">Images</td>
        </tr>
        <tr>
            <td>Total number of annotations: </td>
            <td th:text="${stats.getTotalAnnotation()}">Annotation</td>
        </tr>
        <tr>
            <td>Average number of annotation per image: </td>
            <td th:text="${stats.getAverageAnnotationPerImage()}">Average annotation per image</td>
        </tr>
        <tr>
            <td>Total number of annotated image with conflict: </td>
            <td th:text="${stats.getAnnotatedImageWithConflict()}">Images with conflict</td>
        </tr>

    </table>

    <!-- Return to home page --><!-- TODO: move to header -->
    <form method="get" action="ManagerHome">
        <input type="submit" value="Return to home page">
    </form>
  </div>


</body>
</html>
