<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Campaign Details</title>
</head>
<body>
    <h1>Campaign details</h1>
    <form method="post" action="EditCampaign">
        <table>
            <thead>
            <td><b>Name</b></td>
            <td><b>Customer</b></td>
            <td><b>Status</b></td>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" name="name" value="Campaign name" th:value="${campaign.name}" required></td>
                <td><input type="text" name="customer" value="Campaign customer" th:value="${campaign.customer}" required></td>
                <td th:text="${campaign.status.toString()}">Status></td>
                <input type="hidden" name="id" th:value="${campaign.id}">
                <td><input type="submit" value="Edit Campaign"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <form method="get" action="StartCampaign" th:if="${campaign.status.getValue()==0}">
        <input type="hidden" name="id" th:value="${campaign.id}">
        <input type="submit" value="Start campaign">
    </form>
    <table th:if="${not #lists.isEmpty(images)}">
        <tr th:each="image : ${images}">
            <td><img width="150" th:src="${image.source}"/></td> <!--TODO: Slideshow gallery-->
        </tr>
    </table>
    <p th:if="${#lists.isEmpty(images)}">No image yet</p>
    <div class="insert-image">
        <p>Insert a new image</p>
        <form method="post" action="AddImageToCampaign" enctype="multipart/form-data">
            <label for="latitude">Latitude: </label>
            <input type="number" id="latitude" name="latitude" step="0.00000001" required>
            <label for="longitude">Longitude: </label>
            <input type="number" id="longitude" name="longitude" step="0.00000001" required><br>
            <label for="city">City: </label>
            <input type="text" placeholder="Enter city" id="city" name="city" required><br>
            <label for="region">Region: </label>
            <input type="text" placeholder="Enter region" id="region" name="region" required><br>
            <label for="provenance">Provenance: </label>
            <input type="text" placeholder="Enter image's provenance" id="provenance" name="provenance" required><br>
            <label for="date">Date: </label>
            <input type="date" id="date" name="date"><br>
            Resolution:<br>
            <input type="radio" id="high" name="resolution" value="0">
            <label for="high">High</label><br>
            <input type="radio" id="medium" name="resolution" value="1">
            <label for="medium">Medium</label><br>
            <input type="radio" id="low" name="resolution" value="2">
            <label for="low">Low</label><br>
            <input type="file" name="image" required><br><br>
            <input type="hidden" name="campaign" th:value="${campaign.id}">
            <input type="submit" value="Upload image">
        </form>
    </div>
</body>
</html>