<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create annotation</title>
    <link rel="stylesheet" type="text/css" media="all" href="/CSS/general.css" th:href="@{CSS/general.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/CSS/createAnnotation.css" th:href="@{CSS/createAnnotation.css}"/>
</head>
<body>
    <div class="show-image">
        <img class="image" alt="Waste Dump" src="sample/wasteDump.jpg" th:src="${#servletContext.contextPath} + ${image.source}" />
    </div>

    <!-- Modal form for images' annotation -->
    <div id="annotation-modal-box" class="modal">

        <!-- Form to show when create annotation is clicked -->
        <form method="post" class="modal-form animate" action="InsertAnnotation">

            <div class="container">
                <p>Create your annotation</p>
                <p class="error" th:value="${errorMessage}"></p>
            </div>

            <div class="container">

                <!-- (Hidden) Image id -->
                <input type="hidden" id="image-id" name="imageid" th:value="${image.id}" required>

                <!-- Validity -->
                <div class="validity-radio">
                    <label>Is this annotation valid?</label>
                    <input type="radio" id="true" name="validity" value="1" required>
                    <label for="true">Yes</label>
                    <input type="radio" id="false" name="validity" value="0">
                    <label for="false">No</label>
                </div>

                <!-- Confidence -->
                <div class="confidence-radio">
                    <label>How much are you confident on your annotation?</label>
                    <input type="radio" id="high" name="confidence" value="0" required>
                    <label for="high">High</label>
                    <input type="radio" id="medium" name="confidence" value="1">
                    <label for="medium">Medium</label>
                    <input type="radio" id="low" name="confidence" value="2">
                    <label for="low">Low</label>
                </div>

                <!-- Note -->
                <div class="note">
                    <label for="note">Insert your note here: </label>
                    <input type="text" id="note" name="note" placeholder="Write your note here"><br>
                </div>

                <input type="submit" value="Create annotation" class="modal-button">
            </div>
        </form>
    </div>

</body>
</html>