<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Home</title>
</head>
<body>
    <h1>Manager Homepage</h1>
    <table> <!-- TODO: If ( campaigns.isEmpty() ) then showEmptyMessage -->
        <thead>
            <td><b>Name</b></td>
            <td><b>Customer</b></td>
            <td><b>Status</b></td>
        </thead>
        <tr th:each="campaign : ${campaigns}">
            <td th:text="${campaign.name}">Name</td>
            <td th:text="${campaign.customer}">Customer</td>
            <td th:text="${campaign.status.toString()}">Status</td>
        </tr>
    </table>
    <form method="post" action="CreateCampaign">
        Campaign name: <input type="text" placeholder="Enter Campaign name" name="name" required><br>
        Campaign customer: <input type="text" placeholder="Enter Campaign customer" name="customer" required><br>
        <input type="submit" value="Create Campaign">
    </form>
</body>
</html>