<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="../CSS/generic.css" />
</head>
<body>

    <h1>Manager Homepage</h1>

    <!-- If there is any campaign show it -->
    <table th:if="${not #lists.isEmpty(campaigns)}"> <!-- TODO: If ( campaigns.isEmpty() ) then showEmptyMessage -->
        <thead>
            <tr>
                <th>Name</th>
                <th>Customer</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="campaign : ${campaigns}">
                <td><a th:href="@{CampaignDetails(campaign=${campaign.id})}" th:text="${campaign.name}">Name</a></td>
                <td th:text="${campaign.customer}">Customer</td>
                <td th:text="${campaign.status.toString()}">Status</td>
            </tr>
        </tbody>
    </table>

    <!-- If there isn't any campaign, show a message -->
    <p th:if="${#lists.isEmpty(campaigns)}">No campaign yet</p>

    <!-- Form for the new campaign -->
    <form method="post" action="CreateCampaign">
        <label for="campaignName">Campaign name: </label> <input type="text" placeholder="Enter Campaign name" id="campaignName" name="name" required><br> <!-- th:value="${campaignName}" -->
        <p th:text="${errorMessage}"></p>
        <label for="campaignCustomer">Campaign customer: </label> <input type="text" placeholder="Enter Campaign customer" id="campaignCustomer" name="customer" required><br> <!-- th:value="${campaignCustomer}" -->
        <input type="submit" value="Create Campaign">
    </form>

</body>
</html>