<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worker Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="/CSS/general.css" th:href="@{CSS/general.css}"/>
</head>
<body>
    <h1>Worker Homepage</h1>

    <fieldset>
        <legend>Campaign in witch you are involved</legend>

        <!-- If the worker isn't involved in any campaign -->
        <p th:if="${#lists.isEmpty(campaignsAssigned)}">You aren't involved in any campaign</p>

        <!-- If the worker is involved in any campaign -->
        <table th:if="${not #lists.isEmpty(campaignsAssigned)}">
            <thead>
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Customer</b></th>
                    <th><b>Status</b></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="campaign : ${campaignsAssigned}">
                <td><a th:href="@{CampaignOverview(campaign=${campaign.id})}" th:text="${campaign.name}">Name</a></td>
                <td th:text="${campaign.customer}">Customer</td>
                <td th:text="${campaign.status.toString()}">Status</td>
            </tr>
            </tbody>
        </table>
    </fieldset>


    <fieldset>
        <legend>Campaigns you can subscribe to</legend>

        <!-- If there isn't any available campaign for the worker -->
        <p th:if="${#lists.isEmpty(campaignsNotAssigned)}">There aren't campaigns in which you are not involved</p>

        <!-- If there is any available campaign for the worker -->
        <form method="get" action="WorkerSubscription"  th:if="${not #lists.isEmpty(campaignsNotAssigned)}">
            <table>
                <thead>
                    <tr>
                        <th><b>Name</b></th>
                        <th><b>Customer</b></th>
                        <th><b>Status</b></th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="campaign : ${campaignsNotAssigned}">
                    <input type="hidden" name="campaign" th:value="${campaign.id}">
                    <td th:text="${campaign.name}">Name</td>
                    <td th:text="${campaign.customer}">Customer</td>
                    <td th:text="${campaign.status.toString()}">Status</td>
                    <td><input type="submit" value="Subscribe to this campaign"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </fieldset>

</body>
</html>