<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Worker Home</title>
</head>
<body>
    <h1>Worker Homepage</h1>

    <!-- If the worker is involved in any campaign -->
    <table>
        <thead th:if="${not #lists.isEmpty(campaignsAssigned)}">
            <td><b>Name</b></td>
            <td><b>Customer</b></td>
            <td><b>Status</b></td>
        </thead>
        <tr th:each="campaign : ${campaignsAssigned}">
            <td th:text="${campaign.name}">Name</td>
            <td th:text="${campaign.customer}">Customer</td>
            <td th:text="${campaign.status.toString()}">Status</td>s
        </tr>
    </table>

    <!-- If the worker isn't involved in any campaign -->
    <p th:if="${#lists.isEmpty(campaignsAssigned)}">You aren't involved in any campaign</p>

    <!-- If there is any available campaign for the worker -->
    <table th:if="${not #lists.isEmpty(campaignsNotAssigned)}">
        <thead>
            <td><b>Name</b></td>
            <td><b>Customer</b></td>
            <td><b>Status</b></td>
        </thead>
        <tr th:each="campaign : ${campaignsNotAssigned}">
            <td th:text="${campaign.name}">Name</td>
            <td th:text="${campaign.customer}">Customer</td>
            <td th:text="${campaign.status.toString()}">Status</td>s
        </tr>
    </table>

    <!-- If there isn't any available campaign for the worker -->
    <p th:if="${#lists.isEmpty(campaignsNotAssigned)}">There aren't campaigns in which you are not involved</p>
</body>
</html>